<div class="container">
  <h2>Upcoming Rides</h2>
  <div class="row">
    <ul>
      <li>
        <div class="col-md-offset-1 col-md-10 well"></div>
      </li>
      <li>
        <div class="col-md-offset-1 col-md-10 well"></div>
      </li>
      <li>
        <div class="col-md-offset-1 col-md-10 well"></div>
      </li>
    </ul>
    
    </div> <!-- end of row -->
    <a href="#">Create new rides</a><br/><a href="#">Find new ride</a>
  <h2>Past Rides</h2>
  <div class="row">
    <ul>
      <li>
        <div class="col-md-offset-1 col-md-10 well"></div>
      </li>
      <li>
        <div class="col-md-offset-1 col-md-10 well"></div>
      </li>
      <li>
        <div class="col-md-offset-1 col-md-10 well"></div>
      </li>
    </ul>
  </div> <!-- end of row -->
</div> <!-- end of container -->