<div class="container-fluid">
  <div class="row">
    <%= render partial: 'static_pages/carousel' %>
    <div class="col-md-offset-2 col-md-8">

    <%= render partial: 'static_pages/form' %>

      </div>  <!-- /col-md-offset-2 col-md-8 -->
  </div><!-- Row end -->
</div><!-- container-fluid end -->

<%= render 'deliverables' %>

<%= render 'footer' %>