<div class="container-fluid">
  <div class="row">
  <%= render 'carousel' %>

<div class="col-md-offset-2 col-md-8">
<form class="form-inline">
  <div class="form-group fill-origin">
    <input type="text" class="form-control" id="origin"  placeholder="Origin">
    <input type="hidden" class="form-control" name="lat">
    <input type="hidden" class="form-control" name="lng">
  </div>
  <div class="form-group fill-destination">
    <input type="text" class="form-control" id="destination" placeholder="Destination">
    <input type="hidden" class="form-control" name="lat">
    <input type="hidden" class="form-control" name="lng">
  </div>

   <div class="form-group">
    <input type="date" class="form-control" id="date" placeholder="Date">
  </div>

  <button type="submit" class="btn btn-default" id="find">Find</button>
</form>
</div>

</div><!-- Row end -->

</div><!-- container-fluid end -->

<%= render 'deliverables' %>

<%= render 'footer' %>

<script type="text/javascript">
  $(document).ready(function(){
    $(function(){
      $("#origin").geocomplete({
        // map: ".map_canvas",
        details: ".fill-origin",
        // types: ["geocode", "establishment"],
      });

      // $("#find").click(function(){
      //   $("#geocomplete").trigger("geocode");
      // });
    });

    $(function(){
      $("#destination").geocomplete({
        // map: ".map_canvas",
        details: ".fill-destination",
        // types: ["geocode", "establishment"],
      });

      // $("#find").click(function(){
      //   $("#geocomplete").trigger("geocode");
      // });
    });
  });

</script>