<div id="bg">
</div>
<div class="landing-div">
  <%= render partial: 'layouts/header' %>
  <%= render partial: 'static_pages/carousel' %>
  <div class="container heading">Cabshare</div>
    <%= render partial: 'layouts/bottom_form' %>
  <%= render partial: 'static_pages/deliverables' %>
</div>

<!-- <div class="container-fluid landing-div-two">
  <div class="col-md-8" id="landing-page-more">
    CabShare is an online taxi pooling service created for people to share taxis in an easy and safe way. Our vision is to provide an economical, fast and reliable means of transportation while saving the environment.
  </div><!-- end#landing-page-more -->
<!--   <div class="col-md-3" id="subscribe">
    <input type="text" class = "form-control" placeholder="Email" />
    <input type="submit" class="btn btn-default subscribe-button" value="Subscribe" />
  </div>
</div>



<div class="container-fluid">
  <div class="row">

    <div class="col-md-offset-2 col-md-8">
 -->


<!--       </div>  <!-- /col-md-offset-2 col-md-8 -->
  <!-- </div> --><!-- Row end -->
<!-- </div> --><!-- container-fluid end -->
 --> -->