<div class="static_pages_index">
  <div class="container-fluid">
    <video autoplay loop poster="polina.jpg" id="bgvid">
      <source src="https://d1m4vfavma9vzb.cloudfront.net/suggestadoc/images/ziffi/media/ziffi-cities.mp4" type="video/mp4">
    </video>
    <!-- first div -->
    <div class="one"></div>
    <!-- end first div -->

    <!-- find my cab form -->
    <div class="container findmycabform" style="text-align: center;">
      <form class="col-md-12 form-inline">
        <div class="form-group">
          <input type="text" class="form-control search-form" id="exampleInputName2" placeholder="From eg: Gachibowli..">
        </div>
        <div class="form-group">
          <input type="text" class="form-control search-form" id="exampleInputName2" placeholder="To eg: Hitech City.. ">
        </div>
        <div class="form-group">
          <input type="email" class="form-control search-form" id="exampleInputEmail2" placeholder="On this date..">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default search-form" id="find-button">Find My Cab</button>
        </div>
      </form>
    </div>
    <!-- end find my cab form -->

    <div class="two"></div>
  </div>
</div>

