<div class="container no_ride_found">
  <p>Oops! Seems like there is no body who matches your route. Please enter your ride details so that we can match you with someone who looks for the same ride in future</p>
</div>