<!-- div.no-ride-found -->
<div class="no-ride-found">
	<!-- div#navbar-standard -->
	<%= render partial: 'layouts/header' %>
	<!-- div#navbar-standard -->
	<!-- div#message -->
	<div class="container" id="message">
		<h2>Oops!<hr /></h2>
    <p>seems like nobody matches your route<br />Please enter your ride details so that we can match you with someone who looks for the same ride in future</p><br />
    <%= link_to user_signed_in? ? "Initiate a Ride" : "Login to Initiate a Ride", user_signed_in? ? new_ride_path : user_omniauth_authorize_path(:facebook), class: 'btn btn-primary'%>
  </div>
  <!-- div#message -->
	<%= render partial: 'static_pages/footer' %>
</div>
<!-- /div.no-ride-found -->