<!-- div.no-ride-found -->
<div class="no-ride-found">
	<!-- div#navbar-standard -->
	<%= render partial: 'layouts/header' %>
	<!-- div#navbar-standard -->
	<!-- div#message -->
	<div class="container" id="message">
		<h2>Yayy!<hr /></h2>
    <p>Your ride has been initiated!<br/> We will notify you when there is a potential match</p>
    <br />
    <%= link_to "Find another Ride", root_url, class: 'btn btn-primary' %></div>
  </div>
  <!-- div#message -->
	<%= render partial: 'static_pages/footer' %>
</div>
<!-- /div.no-ride-found -->