<div id="congratsnewride">
  <div class="congrats-content-block">
  <h1>Congratulations</h1>
  <p>Your ride has been posted!<br/> We will notify you when there is a potential match</p>
  <div class="container">
 <div class="row">
     <div class="congrats-return-to-home "><%= link_to "Find another ride", static_pages_index_path %></div>
  </div>
  </div>
  </div>
  <%= render partial: 'static_pages/footer' %>
</div>

