/*

  structure
  ---------

  Please follow the SASS structure strictly

  - div.new-ride
    - nav#navbar-standard
          
*/

/* div.new-ride */
div.new-ride {
  min-height: 100vh; width: 100vw;
  background-color: #F8F8F8;

  /* nav#navbar-standard */
  #navbar-standard {
    margin-bottom: 0px;

    /* a.navbar-brand */
    .navbar-brand {
      padding: 1em; padding-left: 1.6em;
      color: #6CAFF5; font-weight: bold;
      font-family: Comfortaa, sans-serif;
      font-size: 2em;
    }
    /* /a.navbar-brand */

    /* div.navbar-collapse */
    div.navbar-collapse {
      ul.nav.navbar-nav.navbar-right {
        padding: 1em; padding-right: 1.6em;
        
        a {
          color: #737373;
          &:hover {
            color: #737373;
          }
        }
      }
    }
    /* /div-navbar-collapse */
  }
  /* /nav#navbar-standard */

  /* div.new-ride-wrapper */
  .new-ride-wrapper {
    height: contain;
    margin-top: 3em;

    /* div.new-ride-form */
    .new-ride-form {

      label {
        float: left; margin-left: 0.3em;
        font-size: 0.8em; color: #666666; 
        font-weight: normal; font-style: italic;
      }

      .fill-origin {
        width: 100%; text-align: center;
      }

      .fill-destination {
        text-align: center;
        width: 100%;
      }

      .date-time {
        width: 100%;

        #date-new {
          width: 49%; float: left
        }

        #time {
          width: 49%; float: right;
        }

      }

      input {
        width: 100%;
        height: 3.5em;
        margin-bottom: 1em;
      }

      .create-ride-button {
        width: 100%; height: 10vh;
      }

    }
    /* /div.new-ride-form */

    /* div.routemap-independent */
    .routemap-independent {
      min-height: 60vh; background-color: yellow;
    }
    /* div.routemap-independent */

  }
  /* /div.new-ride-wrapper */



}    
/* /div.new-ride */