/*

  structure
  ---------

  Please follow the SASS structure strictly

  - div.new-ride
    - nav#navbar-standard
          
*/

/* div.new-ride */
div.new-ride {
  min-height: 100vh; width: 100vw;
  background-color: #F8F8F8;

  /* nav#navbar-standard */
  #navbar-standard {
    margin-bottom: 0px;

    /* a.navbar-brand */
    .navbar-brand {
      padding: 1em; padding-left: 1.6em;
      color: #6CAFF5; font-weight: bold;
      font-family: Comfortaa, sans-serif;
      font-size: 2em;
    }
    /* /a.navbar-brand */

    /* div.navbar-collapse */
    div.navbar-collapse {
      ul.nav.navbar-nav.navbar-right {
        padding: 1em; padding-right: 1.6em;
        
        a {
          color: #737373;
          &:hover {
            color: #737373;
          }
        }
      }
    }
    /* /div-navbar-collapse */
  }
  /* /nav#navbar-standard */

  /* div.new-ride-wrapper */
  .new-ride-wrapper {
    height: contain;
    margin-top: 3em;

    /* div.new-ride-form */
    .new-ride-form {

      label {
        float: left; margin-left: 0.3em;
        font-size: 0.8em; color: #666666; 
        font-weight: normal; font-style: italic;
      }

      /* div.fill-origin */
      .fill-origin {
        width: 100%; text-align: center;
      }
      /* /div.fill-origin */

      /* div.fill-destination */
      .fill-destination {
        text-align: center;
        width: 100%;
      }
      /* /div.fill-destination */

      /* div.date-time */
      .date-time {
        width: 100%;

        .date-wrapper {
          width: 49%; float: left;
        }

        .time-wrapper {
          width: 49%; float: right;
        }

      }
      /* /div.date-time */

      input {
        width: 100%;
        height: 3.5em;
        margin-bottom: 1em;
      }

      /* div.create-ride-button */
      .create-ride-button {
        margin-top: 0.5em;
        width: 100%; padding: 1em;
        font-size: 1.2em;
      }
      /* /div.create-ride-button */

    }
    /* /div.new-ride-form */

    /* div.routemap-independent */
    .routemap-independent {
      min-height: 60vh;

      /* div#map-canvas-rides-index */
      #map-canvas-rides-index {
        min-height: 60vh; width: 70vh;
      }
      /* div#map-canvas-rides-index */

    }
    /* div.routemap-independent */

  }
  /* /div.new-ride-wrapper */



}    
/* /div.new-ride */