// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*

  structure
  ---------

  - div.static_pages_index
    - div.one
      - nav#navbar-standard
        - a.navbar-brand
        - div.navbar-collapse
      - div.middle-header
    - div.findmycabform
    - div.two

*/

//colors
  $landing-blue: #191F25;
  $landing-pink: #CC2262;
@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);

/* div.static_pages_index */
  .static_pages_index {
    width: 100vw;
    overflow-x: hidden;

    .container-fluid{
      padding-left: 0px;
      padding-right: 0px;
      
      video#bgvid {
        position: fixed; top: -20; left: 0;
        /*min-width: inherit; min-height: inherit;*/
        width: 100vw; height: auto;
        z-index: -1000;
        /*background: brown no-repeat;*/
        background-size: cover;
      }

      /* div.one */
      .one {
        height: 75vh;
        background-color: rgba(0,0,0,.3);

        /* nav#navbar-standard */
        #navbar-standard {
          background-color: transparent;
          border: none;
          margin-bottom: 0px;

          /* a.navbar-brand */
          .navbar-brand {
            padding: 1em; padding-left: 1.6em;
            color: white; font-weight: bold;
            font-family: Comfortaa, sans-serif;
            font-size: 2em;
          }
          /* /a.navbar-brand */

          /* div.navbar-collapse */
          div.navbar-collapse {
            ul.nav.navbar-nav.navbar-right {
              padding: 1em; padding-right: 1.6em;
              
              a {
                color: white;
                &:hover {
                  color: white;
                }
              }
            }
          }
          /* /div-navbar-collapse */

        }
        /* /nav#navbar-standard */

        /* div.middle-header */
        .middle-header {
          width: 100%; text-align: center;
          color: white; font-weight: bold;
          font-family: Raleway, sans-serif;
          position: relative; top: 32%;

          h1.up {
            font-size: 3.5em;
            font-weight: bold;
            text-transform: uppercase;
          }

          h5.down {
            font-size: 1.4em;
            font-weight: bold;
          }

        }
        /* /div.middle-header */

        *::selection {
          background-color: #93bfc1;
        };

      }
      /* /div.one */

      /* div.findmycabform */
      .findmycabform {
        height: 15vh; width: 100vw;
        background-color: rgba(0,0,0,.5);

        .search-form{
          height: 7.5vh; width: 14em;
          border: none; border-radius: 1px;
          transform: translateY(50%);
          margin: 0px;
        }

        button.search-form {
          color: white;
        }

        .form-group {
          margin: 0px;
        }

        #find-button {
          background-color: #007A87; border: 0px;
          width: 9em;
        }

        .glyphicon-search {
          color: white;
        }
      }

      *::selection {
        background-color: #93bfc1
      }

      /* /div.findmycabform */

      /* div.two */
      .two {
        height: 100vh;
        background-color: #EDEFED;
      }
      /* /div.two */

    }
    /* /div.container-fluid */

  }
/* end static_pages_index */