// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//colors
  $landing-blue: #191F25;
  $landing-pink: #CC2262;
@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);

body {
  // overflow-x: hidden;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.div-center {
  text-align: center;
  margin-top: 5vh;
}

.icon-size{
  font-size: 100px;
  color: #404040;
  margin-bottom: 5vh;
}

.icon-size p {
  text-align: justify;
}

footer {
  height: 10vh;
  // width:100vh;
  background-color: #404040;
  margin-top: 5vh;
}

.container li{
  list-style: none;
}

.map-canvas-origin, .map-canvas-destination{ 
  width: 100vw;
  height: 378px;
}

.form-inline {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}


//index
.navbar-middle {
  background-color: transparent;
  border:0px solid transparent;
}


.origin-input-nav, .destination-input-nav, .input-date-nav {
  // background: rgba(0,0,0,0.5);
  // border: 0px solid transparent;
  background: white;
  border: 0px solid transparent;
  padding: 1.5em;
  margin-left: 10px;
  border-radius: 5px;
  color: #5F5C58;
  ::-webkit-input-placeholder { /* Chrome, Safari */
   color: #5F5C58;
   font-weight: 100;
  }

  :-moz-placeholder {           /* Firefox 18- */
     color: #5F5C58;
     font-weight: 100;
  }

  ::-moz-placeholder {          /* Firefox 19+ */
    color: #5F5C58;
    font-weight: 100;
  }

  :-ms-input-placeholder {      /* Internet Explorer */
    color: #5F5C58;
    font-weight: 100;
  }
}

#bg{
  height: 100vh; width: 100vw;
  background-image: url(http://res.cloudinary.com/chi6rag/image/upload/v1422983295/mybackground_jmofqq.jpg);
  background-size: cover;
  position: fixed; top: 0; left: 0;
  z-index: -20;
}

.landing-div{
  height: 100vh; width: 100vw;
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
  .heading{
    color:white;
    text-align: center;
    font-size: 6em;
    margin-top: 10vh;
    font-family: 'Raleway', sans-serif;
  }
  .fa {
    color: lightgrey;
  }
}

.landing-div-two {
   height: contain; width: 100vw;
  background-color: $landing-blue;
  font-family: 'Raleway', sans-serif;
  #landing-page-more {
    font-size: 2em; color:whitesmoke;
    padding: 1em; padding-right: 0px;
    margin-top: 0.5em;
    text-align: justify;
  }
}

.form-control {
  border-radius: 5px;
  color: $landing-blue; font-weight: bold;
  width: 100%; padding: 20px;
}

.center-form .form-control{
  margin-left: 2px;
  margin-bottom:.2em;
}

  .subscribe-button {

    margin-top: 10px;

    background-color: $landing-pink; color: whitesmoke;

    width: 100%; padding: 10px;

    font-weight: bold;

  }

  #subscribe {
    padding-top: 1em; padding-left: 1em;
    margin-top: 2.5em; margin-left: 2.2em;
    position: relative;top:2em;
  }

.center-form{
  padding: 1.3em;
  padding-left: 0.3em;
  padding-right: 0.4em;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
#find-pal{
  text-transform: uppercase;
  background: #EA08BC;
  color: white;
  font-weight: 700;
  border: 0.1em solid white;
  box-shadow: none;
  margin-left: 0.1em;
  margin-bottom: 0.2em;
  padding: .6em;
}
