	<div class="alert alert-danger">
	The form contains <%= @errors.count %> errors:<br />
	<% @errors.each do |error, message| %>
	  &nbsp;&nbsp;&nbsp;<%= error.to_s.gsub("_", " ").capitalize + " " + message[0] %>
	  <br />
	<% end %>
	</div>