

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="bfh-timepicker" data-time="now">
      </div>
    </div>

<table>
  <tr>
    <th>ID</th>
    <th>Origin</th>
    <th>Destination</th>
    <th>Departure Date</th>
  </tr>
<% @rides.each do |ride| %>
  <tr>
    <td><%= ride.id %></td>
    <td><%= ride.origin %></td>
    <td><%= ride.destination %></td>
    <td><%= ride.departure_date %></td>
  </tr>
<% end %>
</table>



</div>
</div>

 <script type="text/javascript">
  $('#timepicker1').timepicker();
</script>